@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

body {
  background-color: beige;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#header {
  height: 86px;
  background-color: #c2c2aa;
  color: #ffffff;
  /* font-size: 36px; */
  font-weight: 900;
  text-align: center;
}

.title-board {
  background-color: #c2c2aa;
  color: #ffffff;
  border-radius: 8px;
  width: 500px;
  height: 78px;
  /* margin-top:  */
  margin: auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
}

#choice-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

img {
  border: 2px solid #c2c2aa;
  border-radius: 8px;
  width: 130px;
  height: 130px;
  margin: 50px;
  /* cursor: pointer; */
}

.score-board {
  display: flex;
  justify-content: center;
  gap: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  color: black;
}

.wrapper-sc {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 30px;
}

.footer {
  background-color: #c2c2aa;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}

button {
  width: 134px;
  height: 134px;
}

input {
  height: 134px;
  width: 134px;
  border: 1px solid #c2c2aa;
  margin: 20px;
  border-radius: 8px;
}
