@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

body {
  background-color: beige;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#header {
  height: 86px;
  background-color: #c2c2aa;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}

.title-board {
  background-color: #c2c2aa;
  color: #ffffff;
  border-radius: 8px;
  width: 550px;
  margin: 50px auto 50px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

#choice-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.score-board {
  display: flex;
  justify-content: center;
  gap: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  color: black;
}

input {
  height: 134px;
  width: 134px;
  border: 1px solid #c2c2aa;
  margin: 20px;
  border-radius: 8px;
}

input:hover {
  background-color: #c2c2aa;
}

.retry-btn {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #c2c2aa;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.fa-github {
  color: black;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.4);
}
